* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 360px);
  grid-auto-rows: auto;
  gap: 16px;
  div {

    &:first-child {
      position: relative;
      grid-row: 1 / 3;
      overflow: hidden;

      picture {
        width: 100%;
        position: absolute;
        top: 0;
        clip-path: path("M276.78,329.71c-3.35-6.75-10.06-16.45-20.03-28.96-10.01-12.51-17.63-20.71-22.88-24.52-7.75-5.76-20.17-11.46-37.2-17.22,21.34-4.85,38.16-10.97,50.44-18.35,19.26-11.6,34.35-26.74,45.36-45.41,11.01-18.62,16.49-37.07,16.49-66.57s-7.21-54.51-21.57-75.09c-14.36-20.57-33.26-34.62-56.69-42.23C207.27,3.81,173.37,0,129.01,0h-39.84v93.44h7.85c26.15,0,43.96,4.03,53.47,12.05,9.47,8.02,14.23,19.58,14.23,34.58,0,10.15-3.04,19.12-9.02,26.96-6.03,7.84-13.78,12.69-23.25,14.59-18.76,4.21-31.45,6.34-37.97,6.34h-5.31v104.9c5.78,6.54,12.07,16.25,18.9,29.14l76.9,141.97h161.86l-70.06-134.27Z");
      }
      
    }
    @media (max-width: $mqMinWidth) {
      grid-column: 1 / -1;
      grid-row: auto;
    }
  }

  @media (min-width: $mqMaxWidth) {
    grid-template-columns: 368px repeat(3, 1fr);
    grid-template-rows: repeat(1, 420px);
  }
  @media (max-width: $mqMinWidth) {
    gap: 0;
  }
}

.circular-economy {
  grid-row: 1 / 3;
  background-color: $circular-economy-banner;
  .__text {
    font-family: $font-family-sans-serif;
    color: $circular-economy-base;
    font-weight: bold;
    margin-bottom: 0px;
  }
  @media (max-width: $mqMaxWidth) {
    grid-grow: auto;
  }
}

.first-title {
  color: $circular-economy-base;
  font-weight: 700;
}
.second-title {
  color: $circular-economy-base;
  font-weight: 900;
  @media (min-width: $mqMaxWidth) {
    font-size: 3.5rem;
  }
}

/*
.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}*/