
.speakers {
    padding: 2.5rem;

    &__container {
        // 2 Box Model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
    
    &__speaker {
        // 1 Position
        padding: $padding;
        // 2 Box Model
        flex: 1;
        min-width: 260px;
        // 4 Visual
        background-color: transparent;
        border: 1px solid $circular-economy-base;
        border-radius: 0.5rem;
    }

    &__card-header {
        .speaker__company {
            // 3 Typography
            font-weight: 600;
            color: $subtitle;
        }
    }

    &__card-body {
        // 1 Position
        padding-bottom: $padding;
        // 2 Box Model
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
            box-sizing: border-box;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 50%;
            width: 15rem;
            height: 15rem;
        }
    }
}