<footer class="economy-circular-footer">
  <ul class="economy-circular-footer__list-group list-group list-group-horizontal">
    <li class="economy-circular-footer__list-group-item list-group-item">
      <img class="img-fluid" src="assets/images/logo-circular-economy.png" alt="Logo circular economy">
    </li>
    <li class="economy-circular-footer__list-group-item list-group-item"><i class="fa-brands fa-instagram"></i></li>
    <li class="economy-circular-footer__list-group-item list-group-item"><i class="fa-brands fa-pinterest"></i></li>
    <li class="economy-circular-footer__list-group-item list-group-item"><i class="fa-brands fa-youtube"></i></li>
  </ul>
</footer>
