<div class="contact-form container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inici</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contacte</li>
        </ol>
    </nav>
    <section class="form">
        <h1>Contacte</h1>
        <form class="row">
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="email" class="contact-form__form-control--custom form-control" id="nombre" aria-describedby="emailHelp">
            </div>
            <div class="col-md-6 mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="password" class="contact-form__form-control--custom form-control" id="apellidos">
            </div>
            <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="contact-form__form-control--custom form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="col-md-6 mb-3">
                <label for="Telefono" class="form-label">Teléfono</label>
                <input type="password" class="contact-form__form-control--custom form-control" id="Telefono">
            </div>
            <div class="col-12 mb-3">
                <label class="form-check-label" for="mensaje">Mensaje</label>
                <textarea class="contact-form__form-control--custom form-control" id="mensaje" rows="3"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </section>
</div>
