<div class="circular-economy__container">
    <div>
        <picture>
            <source srcset="../assets/images/green-sostenibility.jpg" type="image/jpg" />
            <img class="img-fluid" src="../assets/images/green-sostenibility.jpg" alt="Imatge sostenibilitat" />
        </picture>
    </div>

    <div class="d-flex flex-column circular-economy__fases">
        <p class="circular-economy__fases__text flex-grow-1 d-flex align-items-center">EPAIR</p>
        <p class="circular-economy__fases__text flex-grow-1 d-flex align-items-center">EUSE</p>
        <p class="circular-economy__fases__text flex-grow-1 d-flex align-items-center">ECYCLE</p>
        <p class="circular-economy__fases__text flex-grow-1 d-flex align-items-center">ECOVER</p>
    </div>

    <div class="circular-economy__titles">
        <h2 class="circular-economy__title--secondary">Jornades:</h2>
        <h1 class="circular-economy__title--primary">Economia circular</h1>
    </div>

    <div class="circular-economy__text">
        <p>
            Uneix-te a nosaltres en aquestes jornades dedicades a l’economia circular, un espai per repensar la manera com produïm, consumim i gestionem els recursos. Durant diversos dies podràs participar en:
        </p>
        <ul>
            <li>
                Xerrades inspiradores amb experts en sostenibilitat, innovació i economia verda.    
            </li>
            <li>
                Tallers pràctics per aprendre a reutilitzar, reparar i reduir residus.
            </li>
            <li>
                Cursos formatius enfocats en estratègies circulars per a empreses, administracions i ciutadania.
            </li>
        </ul>
    </div>
    <div class="circular-economy__grid-item">
        &nbsp;
    </div>
    <div class="circular-economy__grid-item">
        &nbsp;
    </div>

</div>