<div class="grid-container">
    <div>
        
        <picture>
            <source srcset="../assets/images/green-sostenibility.jpg" type="image/jpg" />
            <img class="img-fluid" src="../assets/images/green-sostenibility.jpg" alt="Imatge sostenibilitat" />
        </picture>
        
    </div>
    <div>
        <p>ETHINK</p>
        <p>EPAIR</p>
        <p>EUSE</p>
        <p>EDUCE</p>
        <p>EFUSE</p>
        <p>ECYCLE</p>
        <p>ECOVER</p>
        <p>EGIFT</p>
    </div>
    <div>
        
        <h2 class="second-title">Jornades:</h2>
        <h1>Economia circular</h1>
        
    </div>
    <div>
        <p>
            Uneix-te a nosaltres en aquestes jornades dedicades a l’economia circular, un espai per repensar la manera com produïm, consumim i gestionem els recursos. Durant diversos dies podràs participar en:
        </p>
        <ul>
            <li>
                Xerrades inspiradores amb experts en sostenibilitat, innovació i economia verda.    
            </li>
            <li>
                Tallers pràctics per aprendre a reutilitzar, reparar i reduir residus.
            </li>
            <li>
                Cursos formatius enfocats en estratègies circulars per a empreses, administracions i ciutadania.
            </li>
        </ul>
    </div>
    <div>Columna 5</div>
    <div>Columna 6</div>

</div>