<section class="speakers">
    <h1>Ponents</h1>
    <div class="speakers__container">
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Directora de Projectes d’Economia Circular a l’Agència de Sostenibilitat Urbana
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xica1.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Jane Dou</h3>
                <p class="card-text">Girona, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Investigador Sènior en Transició Energètica i Canvi Climàtic (Institut d’Estudis Ambientals)
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xica5.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Talia Moreau</h3>
                <p class="card-text">Extremadura, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Cap d’Innovació en Models Econòmics Regeneratius (Fundació Terra Viu)
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xico1.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>John Dou</h3>
                <p class="card-text">Galicia, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Consultor Internacional en Polítiques Verdes i Finançament Sostenible
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xica3.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Dorian Hale</h3>
                <p class="card-text">Barcelona, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Professor Associat d’Economia Ecològica (Universitat de les Ciutats Resilients)
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xica4.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Carmen Virelli</h3>
                <p class="card-text">Valencia, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Responsable de Desenvolupament Sostenible a GreenLoop Technologies
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xico2.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Elias Rourke</h3>
                <p class="card-text">Madrid, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Coordinador de Programes Europeus sobre Economia Circular i Bioeconomia
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xico3.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Matteo Crowley</h3>
                <p class="card-text">Girona, Espanya</p>
            </div>
        </div>
        <div class="card speakers__speaker">
            <div class="speakers__card-header">
                <p class="speaker__company">
                    Analista de Sistemes Econòmics Circulars i Resiliència Territorial (Observatori del Desenvolupament Sostenible)
                </p>
            </div>
            <div class="speakers__card-body">
                <img src="../assets/images/xica2.jpg" class="card-img-top" alt="Jane Dou">
            </div>
            <div class="speakers__card-footer">
                <h3>Isabel Trenholm</h3>
                <p class="card-text">Almería, Espanya</p>
            </div>
        </div>
    </div>
</section>
