html {
  height: 100%;
  background: $circular-economy-base;
}

body {
  // 1 Position
  margin: 0;
  padding: 0;
  height: 100%;
  // 3 Typography
  font-family: $font-family-serif;
  // 4 Visual
  background: $circular-economy-gradient;
}

h1, h2 {
  font-family: $font-family-sans-serif;
  font-weight: 900;
  color: $primary;
  font-size: 3.5rem;
} 