@use "sass:color";

$font-family-sans-serif: "Zilla Slab", serif;
$font-family-serif: "Montserrat", sans-serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$circular-economy-title: #3F7D58;

$mqMaxWidth: 1025px;
// $mqMiddleWidth: 468px;
$mqMinWidth: 468px;
