@use "sass:color";

$font-family-sans-serif: "Zilla Slab", serif;
$font-family-serif: "Montserrat", sans-serif;

// $uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$gradient-start: #E1EEBC;
$gradient-end: #328E6E;
$circular-economy-base: #328E6E;
$circular-economy-gradient: linear-gradient(to bottom, $gradient-start, $gradient-end);
$padding: 1.8rem;
$subtitle: #205781;

$mqMaxWidth: 1025px;
$mqMinWidth: 468px;
